@import "node_modules/simple-color-picker/src/simple-color-picker";
@import "node_modules/sniddl-popup/popup.min";


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}

body {
	background: #392C44;
}

canvas {
    background-image: url(/image/trans.png);
    background-size: 20%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
article {
    position: absolute;
    width: 100%;
    height: 400px;
    overflow: visible;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.canvas-wrapper {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 500px;
    overflow-x: auto;
    border-radius: 4px;
    background: #1a1a1b;
}

.modal{
      font-family: sans-serif !important;
}
h4#myModalLabel {
    font-size: 1.3em;
    font-weight: 600;
    color: #999;
    letter-spacing: 1px;
}
label {
    margin: 10px 0;
}

.tools {
    position: absolute;
    height: 100%;
    background: #1a1a1b;
    z-index: 1;
    left: 0px;
    border: 1px solid black;
    padding: 2px
}

.tool {
    margin: 10px;
    background: #3e3e3e;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: white;
    position: relative;
    cursor: pointer;
} .tool:hover{
    background: #505050;
}
.tool .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


div#colorpickerwrapper {
    position: relative;
    width: 300px;
    height: 360px;
}
#hex-input{
  position: absolute;
  bottom: 0;
}
.Scp {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 !important;
    background: transparent !important;
}

.Scp-hue {
    position: absolute;
    float: none;
    right: -10px;
}

.slideout {
    background: #1a1a1b;
    position: absolute;
    top: -10px;
    right: 0;
    display: none;
    z-index: -1;
    padding-left: 10px;
    text-align: left;
  -webkit-transition: all 5s ease;
     -moz-transition: all 5s ease;
          transition: all 5s ease;

}.slideout.show{
  right: -116px;
  display: block;
}
.slideout .tool {
    display: inline-block;
    float: left;
    margin: 10px 10px 10px 0;
}
div#result {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 80px;
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
    transform: translate(-50%, -50%);
    width: 100%;
    display: none;
}


.popup {
    background: #1a1a1b;
    padding: 40px 40px 30px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.39);
    display: none;
}

.popup .close {
    color: white;
    position: absolute;
    opacity: 1;
    top: 0;
    right: 0;
    padding: 10px 20px;
    cursor: pointer;
}
